body{
    background-color: #D5E1EF;
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
}
.card{
    position: absolute;
    margin: auto;
    inset: 0;
    padding: 1rem;
    padding-bottom: 3rem;
    height: 470px;
    width: 100%;
    max-width: 302px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 10%);
}
img{
    width: 100%;
    border-radius: 10px;
}

h2{
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
}